html, body, #root {
  height: 100vh;
  margin: 0;
  font: 17px/1.4 "Lucida Console", "Courier New", monospace;
  background: hsl(0, 100%, 100%);
  overflow: hidden;
  padding-left: 10px;
  padding-right: 20px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;
  overflow-y: auto;
}

